## GIT is ignoring...

# # hidden secrets
# .secrets/*

# # local environment settings
.local/*
.local/shortcuts/*
.local/logs/*
.local/.secrets/*
# settings need sync-scripts and polishing, maybe pack them to another module
.local/settings/*

# submodule-files containing your private galleries
files/icons/*
files/images/avatar/*
files/images/backgrounds/*
files/images/console/*
files/images/generic/*
files/images/user/*
files/plymouth_theme/*
files/systemsounds/*
files/windows_software_addons/*

# git itself
.git/*
# git-modules (set them up yourself, see readme)
.gitmodules

# all logs
*.log

# vscode/settings
.vscode/*
den.code-workspace

### Python ###
# precompiled
__pycache__/
*.py[cod]

# ignore locally installed powershell-modules & scripts
scripts/powershell/Modules/*
scripts/powershell/Scripts/*
scripts/powershell/machines/*.*
# still load the local_machines'-scripts if available
!scripts/powershell/machines/load_machine.ps1

# these two are secret, put your own location-aliases and project-aliases here
scripts/powershell/limbs/locations.ps1
scripts/powershell/limbs/projects.ps1

### Incomplete Tutorials & Settings ###
# TODO: reactivate the ones finished
tutorials/editors\ -\ coding\ &\ shell/how-to_emacs.md
tutorials/editors\ -\ coding\ &\ shell/how-to_vim.md
tutorials/operating\ systems/how-to_ubuntu-server.md

# TODO work full_version into readme
README_full.md
# the todo-list, TODO: should also be synced via gist or something
TODO
