<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- - Command Line enhancements -->
    <package id="duf" /> <!-- duf - modern disk-usage -->
    <package id="gping" /> <!-- graphical ping -->
    <package id="ripgrep" /> <!-- faster grep -->
    <package id="bat" /> <!-- replaces cat  -->
    <package id="delta" /> <!-- difftool -->
    <package id="fd" /> <!-- find -->
    <package id="sd-cli" /> <!-- cli search and replace  -->
    <package id="tldr" /> <!-- tldr manpages -->
    <package id="gping" /> <!-- graphical ping -->
    <package id="httpie" />  <!-- web requests in api-age -->
  </packages>
