<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- buildtools & languages-->
    <package id="mingw" />  <!-- gcc/gdb and other c compiler stuff -->
    <package id="ghc" />  <!-- Glasgow Haskell Compiler -->
    <package id="cabal" />  <!-- Haskell Builder -->
    <package id="rust" />  <!-- Rust + Cargo -->
    <package id="golang" />  <!-- Go -->
    <package id="jdk8" />  <!-- Java -->
    <package id="dotnetfx" />  <!-- .NET -->
    <package id="nvm" />  <!-- JavaScript/Typescript/nodejs manager -->
  </packages>
