<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- essential software -->
    <package id="7zip" />  <!-- handling zipfiles -->
    <package id="filezilla" />  <!-- FTP client -->
    <package id="sumatrapdf" />  <!-- Lightweight pdf tool -->
    <package id="pdfsam" />  <!-- Merge and split pdfs -->
    <package id="simplenote" />  <!-- Notes -->
    <package id="obsidian" />  <!-- Markdown collection -->
    <package id="telegram" />  <!-- Messenger -->
    <package id="discord" />  <!-- hang out -->
    <package id="geany" />  <!-- fast notepad with syntax highlighting -->
    <package id="copyq" />  <!-- Advanced clipboard manager -->
  </packages>
