<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- - Shell & Terminal  <!- -->
    <package id="powershell" />
    <package id="cmder" />
    <package id="openssh" />
    <!-- - IDE  <!- -->
    <package id="vscode" />
    <package id="emacs" />
    <package id="vim" />
    <!-- - Browser  <!- -->
    <package id="googlechrome" />
    <!-- - Cloud-Access  <!- -->
    <package id="google-drive-file-stream" />
    <!-- - Version-Control  <!- -->
    <package id="git" />
    <package id="hub" />
    <!-- - powershell extensions  <!- -->
    <package id="poshgit" />
    <package id="less" />
    <package id="get-childitemcolor" />
  </packages>
