<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- edit and play media -->
    <package id="audacity" />  <!-- Cut audio files -->
    <package id="audacity-ffmpeg" />
    <package id="audacity-lame" />
    <package id="blender" />  <!-- 3D models -->
    <package id="gimp" />  <!-- Edit pictures -->
    <package id="ffmpeg" />  <!-- Convert video + audio -->
    <package id="irfanview" />  <!-- View pictures -->
    <package id="Shotcut" />  <!-- Video cut -->
    <package id="vlc" />  <!-- Media Player -->
  </packages>
