<?xml version="1.0" encoding="utf-8"?>
  <packages>

    <package id="fzf" />  <!-- fuzzy-finder -->
    <package id="hashtab" />  <!-- Calculate hashes -->
    <package id="restic" />  <!-- Backups -->

    <!-- Modern unix Command Line enhancements -->
    <package id="duf" /> <!-- Disk Usage/Free Utility - https://github.com/muesli/duf -->
    <package id="httpie" />  <!--user-friendly command-line HTTP client for the API era - https://github.com/httpie/httpie -->
    <package id="ag" />  <!-- (ag) "the silver searcher" code searching tool - https://github.com/ggreer/the_silver_searcher -->

    <!-- CLI tools -->
    <package id="alacritty" />  <!-- terminal -->
    <package id="nerd-fonts-3270" />  <!-- fonts -->
    <package id="micro" />  <!-- slim in-terminal editor -->

    <!-- I really like the 'new' Windows Terminal -->
    <package id="microsoft-windows-terminal" />

  </packages>
