[user]
    email = oryon@cyberise.de
    name = oryon-dominik
[core]
    # ssh shall be managed by the ssh config or the repos themselves
    autocrlf = input
    editor = code --wait
    pager = delta
    ignorecase = false
# [url "git@github.com"]
#     # https://lists.kernelnewbies.org/pipermail/kernelnewbies/2017-November/018413.html
#     insteadOf = https://github.com
#     insteadOf = http://github.com
#     insteadOf = git://github.com
[init]
    defaultBranch = trunk
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
    cmd = code --wait $MERGED
[alias]
    logs = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    who = log --diff-filter=A --
    find = log --color -p -S 
    fame = !python -m gitfame
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[gitflow "branch"]
    master = production
    develop = trunk

[gitflow "prefix"]
    feature = feature/
    release = release/
    hotfix = hotfix/
    support = support/

[delta]
    features = woolly-mammoth
    syntax-theme = Dracula
    side-by-side = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "woolly-mammoth"]
    # author: https://github.com/Kr1ss-XD
    commit-decoration-style = 232 130 box
    commit-style = 232 bold italic 130
    dark = true
    file-added-label = [+]
    file-copied-label = [C]
    file-decoration-style = "#606018" overline
    file-modified-label = [M]
    file-removed-label = [-]
    file-renamed-label = [R]
    file-style = 232 bold 184
    hunk-header-decoration-style = none
    hunk-header-style = syntax bold italic 237
    line-numbers = true
    line-numbers-left-format = "{nm:>1}┊"
    line-numbers-left-style = red
    line-numbers-minus-style = red italic black
    line-numbers-plus-style = green italic black
    line-numbers-right-format = "{np:>1}┊"
    line-numbers-right-style = green
    line-numbers-zero-style = "#545474" italic
    minus-emph-style = syntax bold "#780000"
    minus-style = syntax "#400000"
    plus-emph-style = syntax bold "#007800"
    plus-style = syntax "#004000"
    syntax-theme = Vibrant Sunburst
    whitespace-error-style = "#280050" reverse
    zero-style = syntax

[safe]
    directory = */oryon/.dotfiles
    directory = */oryon/.pyenv
    directory = */dev/lieutenant
    directory = */dev/hockey
[credential]
    # 60 * 60 * 8 hour credentials cache
    # helper = "cache --timeout=28000"
    # For https connections use git-credential-manager-core:
    # ~/scoop/apps/git-credential-manager/current/git-credential-manager.exe
    helper = manager
[pull]
    rebase = false
