{
  "dotfiles_location": ".dotfiles",
  "cloud": "X:\\",
  "projects": "X:\\projects",
  "heap": "X:\\dev",
  "shortcuts": "local\\shortcuts",
  "residence": ["Alamo", "US"],
  "coordinates": [37.234332396, -115.80666344],
  "files_url": "https://github.com/username/reponame",
  "local_url": "https://github.com/username/reponame",
  "files_location": "files",
  "local_location": "local",
  "git_pulls": "local\\git_pulls.txt",
  "git_prompt_ignore": "local\\git_too_big_to_prompt.txt"
}
